@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 700px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: black;
color: white;
text-align: left;


}
.topContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 10px;
}

.text {
display: flex;
flex-direction: column;
justify-content:space-between;
align-items: start;
margin: 100px;
}



.iconContainer {
  width: 100%;
  background-color: white;
  height: 40%;
  padding: 30px;
  display: flex;
 flex-direction: row;

}
article {
  height: 40%;
  width: 30%;
  margin: 10px;
}
article h2 {
color: black;
}

article p {
  color: black;
  }